src/perfetto_cmd/perfetto_config.descriptor.h binary
python/perfetto/protos/perfetto/trace/perfetto_trace_pb2.pyi binary
python/perfetto/protos/perfetto/trace/perfetto_trace_pb2.py binary
out/ui/ui/dist/**/*.woff2 binary
out/ui/ui/dist/**/*.wasm binary
out/ui/ui/dist/**/*.png binary
out/ui/ui/dist/**/*.js -whitespace
out/ui/ui/dist/**/*.html -whitespace
